<div class="container">
  <h2 class="text-center">Araç Renkleri</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Renk Adı</th>
        <th scope="col">Aksiyonlar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors">
        <td>{{color.name}}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="getById(color.id)" data-toggle="modal" data-target="#updateModal"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" [swal]="deleteSwal" (click)="getById(color.id)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
      <!-- Diğer renkler buraya eklenir -->
    </tbody>

  </table>
      <button class="btn btn-outline-success" data-toggle="modal" data-target="#addModal">Ekle</button>


      <!-- Update modal -->
      <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form [formGroup]="colorForm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateModalLabel">Renk Güncelle</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="colorName">Renk</label>
                    <input type="text" formControlName="name" class="form-control" id="colorName" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                  <button type="button" class="btn btn-primary" (click)="update()" id="submitBtn">Güncelle</button>
                </div>
              </div>  
            </form>
          </div>
        </div>

        <!-- delete swal brand -->
        <swal
#deleteSwal
title="Silmek istediğinizden eminmisiniz ?"
text="{{getColor.name}} adlı marka silinecektir."
icon="question"
[showCancelButton]="true"
[focusCancel]="true"
cancelButtonText="Hayır"
confirmButtonText="Evet"
(confirm)="deleteBrand(getColor)">
</swal>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="colorForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Renk Ekle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="colorName">Renk</label>
            <input type="text" formControlName="name" class="form-control" id="colorName" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
          <button type="button" class="btn btn-primary" (click)="add()" id="submitBtn">Ekle</button>
        </div>
      </div>  
    </form>
  </div>
</div>