<div class="container mt-4">
    <div class="row">
      <!-- Markalar List Group -->
        <div class="list-group ml-2">
          <a routerLink="" class="list-group-item list-group-item-action" data-toggle="collapse">
            <i class="fas fa-solid fa-list mr-2"></i> Tümü
          </a>
          <a href="#brands" class="list-group-item list-group-item-action mt-2" data-toggle="collapse">
            <i class="fas fa-car mr-2"></i> Markalar
          </a>
          <div class="collapse" id="brands">
              @for (item of brandResponse?.data; track $index) {
                <a routerLink="/cars/brand/{{item.id}}" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">{{item.name}}</a>
              }
              @empty {
                <li class="list-group-item list-group-item-action">Veri yok</li>
              }
          </div>
          <!-- Renkler List group -->
          <a href="#colors" class="list-group-item list-group-item-action mt-2" data-toggle="collapse">
            <i class="fas fa-solid fa-paint-roller mr-2"></i> Renkler
          </a>
          <div class="collapse" id="colors">
            @for (item of colorResponse?.data; track $index) {
              <a routerLink="/cars/color/{{item.id}}" class="list-group-item list-group-item-action">{{item.name}}</a>
            }
            @empty {
              <li class="list-group-item list-group-item-action">Veri yok</li>
            }
          </div>
             <!-- Admin List group -->
             <a href="#adminMenu" class="list-group-item list-group-item-action mt-2" data-toggle="collapse">
              <i class="fas fa-solid fa-paint-roller mr-2"></i> Admin Menu
            </a>
            <div class="collapse" id="adminMenu">
              <a routerLink="/admin/cars" class="list-group-item list-group-item-action">Araçlar</a>
              <a routerLink="/admin/colors" class="list-group-item list-group-item-action">Renkler</a>
              <a routerLink="/admin/brands" class="list-group-item list-group-item-action">Markalar</a>
            </div>      
        </div>
    </div>
  </div>